<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EcommerceSuite">

    <listeners>
        <listener class-name="utils.Listeners"/>
    </listeners>

    <test name="EcommerceFlow">
        <classes>
            <class name="tests.EcommerceTest"/>
        </classes>
    </test>

</suite>
